@model EShopApp.Models.Product

@{
    ViewBag.Title = "Details";
}
<div class="container" id="product-section" class="justify-content-center">
    <div class="row">
        <div class="col-md-6">
            <img src="@Url.Content(Model.ImagePath)" style="max-width:60%;margin-left:30%" />
        </div>
        <div class="col-md-6">
            <h2> @Html.DisplayFor(model => model.ProductName)</h2>
            <p><i>@Html.DisplayFor(model=> model.Category.CategoryName)</i></p>
            <p>@Html.DisplayFor(model => model.Description)</p>
            <h1>@Html.DisplayFor(model => model.UnitPrice)$</h1>
            <button type="button" class="btn btn-dark">
                @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = Model.ProductID}, "")
            </button>
          @if (User.IsInRole("Administrator"))
          {
            <p style="margin:30% 0">
                @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
                @Html.ActionLink("Back to List", "Index")
            </p>}
        </div>
    </div><!-- end row -->
</div><!-- end container -->
@*<div>

        <div>
            <div class="col-md-6">

                <img src="@Url.Content(Model.ImagePath)" class="image-responsive" />
            </div>
            <div class="col-md-6">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Category.CategoryName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Category.CategoryName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProductName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>



                    <dd>
                        @Html.DisplayFor(model => model.ImagePath)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.UnitPrice)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UnitPrice)
                    </dd>

                </dl>
            </div>
        </div>
    </div>*@

